<div class="exchange-box">
  <div class="card">
    <div class="card-header text-center">
      Simule sua conversão
    </div>
    <div class="card-block">
      <div class="form-group row justify-content-center">
        <strong class="title">Escolha suas moedas</strong> 
      </div>
      <%=form_tag exchange_path, method: :post, id: 'exchange_form' do %>
        <div class="form-group row form-select">       
          <div class="col-5">
            <%=select_tag :currency, options_for_select(current_select, 'BRL'), class: 'form-control', id: 'currency' %>
          </div>
          <div class="col-2">
              <%=image_tag('/switch-arrows-thumb.png', class: 'img-swap-arrow swap-arrow img-responsive')%>
          </div>
          <div class="col-5">
            <%=select_tag :currency_destination, options_for_select(current_select,'EUR'), class: 'form-control', id: 'currency_destination' %>
          </div>
        </div>
        
        <div class="col-12">          
          <div class="form-group input-group">
            <span class="input-group-addon" id="addon-local">$</span>
            <%=number_field_tag :quantity, nil, class: 'form-control', placeholder: 'ex: 100,00', min: 1, step: 0.01 %>
          </div>
          <div class="form-group input-group">
              <span class="input-group-addon" id="addon-destination">$</span>
              <%=text_field_tag :result, nil, class: 'form-control', placeholder: 'Resultado', readonly: true %>
          </div>
        </div>
        
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%=button_tag :CONVERTER, type: :submit, class: 'btn btn-primary btn-exchange col-md-12 invisible' %>
        </div>
      <%end%>
    </div>
  </div>
</div>